product-list {
	display: block;

	.list-of-products {
		padding: 0;
		list-style-type: none;

		> li {
			display: flex;
			border-top: 1px solid #DDD;
			padding-bottom: 1em;

			> aside {
				width: 218px;
				text-align: center;
				flex: 1;
			}

			.product-info {
				flex: 3;
				line-height: 1.5em;
			}
		}

		.product-image {
			max-width: 15rem;
			max-height: 10rem;
		}
	}
}
