body {
  font-family: "Helvetica Neue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 300;
}

header {
  display: flex;
  margin: 0 2em;

  .header-left, .header-right {
    flex: 1;
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .cart-img {
    width: 2em;
  }
}
